@media (min-width: 1440px){
    .VPHome {
        margin-bottom: unset !important;
        height: 100% !important;

        .container{
            max-width: 100% !important;
            padding: 0 !important;
        }

    }
}

